<h2>Esta es la página</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In architecto magnam minus quidem ut, ducimus tempora! Laboriosam in, illum inventore eligendi nam quod perspiciatis. Doloremque non rerum atque quibusdam vero.</p>